<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>2MB Computer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='add_product.css') }}">
</head>
<body>

<div class="wrapper">

<div class="header">

<div class="back-link" onclick="goBack()">
Back to Dashboard
</div>

<h2>Add Product</h2>

</div>

<!--<form id="productForm">-->
<form action="/admin/add" 
      method="POST"
      enctype="multipart/form-data"
      id="productForm">

<div class="grid">

<!-- LEFT SIDE -->
<div class="left">

<div class="card">
<h3>Media Upload</h3>

<label class="upload-box">
    <!--<input type="file"
           id="mediaInput"
           name="media"
           multiple
           accept="image/*,video/*"
           required>-->
    <input type="file" id="mediaInput" name="media" multiple accept="image/*,video/*">       

    <div class="upload-content">
        <p>Upload Images or Videos</p>
        <span>Click to browse</span>
    </div>
</label>

<div class="preview-grid" id="previewGrid"></div>
</div>
<!-- PRICING -->
<div class="card">
<h3>Pricing</h3>

<div class="price-row">
<div>
<label>Real Price</label>
<!--<input type="number" id="real_price" required>-->
<input type="number" id="real_price" name="real_price" required>

</div>

<div>
<label>Old Price</label>
<!--<input type="number" id="old_price" required>-->
<input type="number" id="old_price" name="old_price" required>

</div>

<div>
<label>Save</label>
<input type="text" id="saveAmount" readonly>
</div>
</div>

<p class="error" id="priceError"></p>
</div>

<!-- PRODUCT DETAILS -->
<div class="card">
<h3>Product Details</h3>

<input type="text" name="name" placeholder="Product Name" required>
<input type="text" name="brand" placeholder="Brand" required>
<input type="text" name="key_specs" placeholder="Key Specifications" required>
<input type="text" name="tagline" placeholder="short-desc" required>
</div>      

<!-- DEVICE TYPE -->
<div class="card"> 
<h3>Device Type</h3>

<label class="device-card">
<input type="radio" name="device_type" value="laptop" required>
<span>Laptop</span>
</label>
<br>
<label class="device-card">
<input type="radio" name="device_type" value="smartphone">
<span>Smartphone</span>
</label>
<br>
<label class="device-card">
<input type="radio" name="device_type" value="computer">
<span>Computer</span>
</label>
</div>

</div>
<!-- RIGHT SIDE -->
<div class="right">

<div class="card info-card">
<h3>Product Information</h3>
<textarea name="product_information" placeholder="product_information" required></textarea>
</div>

<!-- DISCOUNT -->
<div class="card"> 
<label>
Enable Discount      
<input type="checkbox" name="discount">
</label>
</div>

<!-- product stock -->
<div class="card">
    <h3>Stock</h3>
    <input type="number" name="stock" placeholder="Stock Quantity" required>
</div>

<!-- Grade -->
<div class="card"> 
    <h3>Product Grade</h3>

    <label class="device-card">
        <input type="radio" name="grade" value="A Grade" required>
        <span>A Grade (Like New)</span>
    </label>
    <br>
    <label class="device-card">
        <input type="radio" name="grade" value="B Grade">
        <span>B Grade (Good)</span>
    </label>
    <br>
    <label class="device-card">
        <input type="radio" name="grade" value="C Grade">
        <span>C Grade (Fair)</span>
    </label>
    <br>
    <label class="device-card">
        <input type="radio" name="grade" value="D Grade">
        <span>D Grade (Poor)</span>
    </label>
</div>

</div>

<br><br>
<button type="submit" class="publish">Save & Publish</button>
</form>

<script src="{{ url_for('static', filename='add_product.js') }}"></script>
</body>
</html>
